Gmail_Daily_Email_Digest/daily-email-digest.json
{
  "name": "daily-email-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3e44f6e6-5c7b-4a41-a045-3677deb4121c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'day') }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "a7d9228b-9f71-4e3e-bfe5-d8754c4d54ba",
      "name": "Get many messages",
      "webhookId": "54de8981-5978-494f-9a33-8e3b1275f270",
      "credentials": {
        "gmailOAuth2": {
          "id": "of2Las3kuCReZ2FE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "harsvardhanrajgarhia@gmail.com",
        "subject": "=Daily Email Digest - {{ $now.format('dd/MM/yyyy') }}",
        "message": "={{ $json.htmlContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        -176
      ],
      "id": "f775a7a0-d7ea-4a62-b33e-7e8d90344bc8",
      "name": "Send a message",
      "webhookId": "e5603286-0dcb-4372-8f0e-bf54d59faf61",
      "credentials": {
        "gmailOAuth2": {
          "id": "of2Las3kuCReZ2FE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# import json\n\n# Step 1: Extract only the fields we need from each email\nemails = []\nfor item in _items:\n    emails.append({\n        \"id\": item[\"json\"].get(\"id\", \"\"),\n        \"from\": item[\"json\"].get(\"From\", \"\"),\n        \"subject\": item[\"json\"].get(\"Subject\", \"\"),\n        \"body\": item[\"json\"].get(\"snippet\", \"\")\n    })\n\n# Step 2: Split emails into batches of 10\nbatch_size = 10\nbatches = [emails[i:i+batch_size] for i in range(0, len(emails), batch_size)]\n\n# Step 3: Return each batch as a separate item\nresult = []\nfor batch in batches:\n    result.append({\n        \"json\": {\n            \"batch\": str(batch),\n            \"batch_size\": len(batch)\n        }\n    })\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "57670aa7-880e-4f9a-a03a-2528ee185142",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "ddc58a31-2b67-4aee-af62-141724f05a39",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email summarizer. Below is a batch of emails in JSON format.\n\nFor each email, extract:\n- Sender\n- Subject\n- A concise summary\n- List of actions required (if none, write \"None\")\n\nData: {{ $json.batch }}\n\nReturn the results as a markdown table with 4 columns: Sender, Subject, Summary, Actions.\nSort rows by priority from high to low based on urgency of actions required.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        912,
        192
      ],
      "id": "f8e2f688-8ebd-4588-a9c6-92d327b18e2f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "openai/gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        416
      ],
      "id": "4d1d7fe1-ec7f-461a-a414-e8f21fb399e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5M9ossScJMuoGN0Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "I will provide you combined summaries of various emails split into multiple tables. \nEach table has 4 columns: Sender, Subject, Summary, List of actions.\n\nCombine them into ONE single markdown table sorted by priority from high to low based on urgency of actions.\n\nSTRICT RULES:\n- Output ONLY the markdown table\n- NO headings, NO explanations, NO \"Merged table\" text\n- Start your response directly with | Sender |\n- End your response with the last table row\n\nData: {{ $json.combined_summaries }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        912,
        -176
      ],
      "id": "c798dda8-8989-44bf-b5c0-e8038fbe5e47",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "openai/gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        -304
      ],
      "id": "fea87734-bcdb-4c5a-806a-170ed803c116",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "5M9ossScJMuoGN0Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Collect all batch summaries into one combined text\ncombined = \"\"\nfor item in _items:\n    text = item[\"json\"].get(\"text\", \"\")\n    text = text.replace(\"\\\\n\", \"\\n\")\n    combined += text + \"\\n\\n---\\n\\n\"\n\nreturn [{\"json\": {\"combined_summaries\": combined}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "276c83d5-0448-41d7-b827-b7dfa0f248b1",
      "name": "Code in Python1"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "text = _items[0][\"json\"].get(\"text\", \"\")\n\n# Try both escaped and real newlines\nif \"\\\\n\" in text:\n    lines = text.split(\"\\\\n\")\nelse:\n    lines = text.split(\"\\n\")\n\nhtml = \"<table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse; width:100%; font-family:Arial;'>\"\nheader_added = False\n\nfor line in lines:\n    line = line.strip()\n    if not line or not line.startswith(\"|\"):\n        continue\n    if set(line.replace(\"|\", \"\").replace(\"-\", \"\").replace(\" \", \"\")) == set():\n        continue\n        \n    cells = [c.strip() for c in line.split(\"|\") if c.strip()]\n    if not cells:\n        continue\n    \n    if cells[0].lower() == \"sender\":\n        if header_added:\n            continue\n        header_added = True\n        html += \"<tr style='background-color:#4CAF50; color:white;'>\"\n        for cell in cells:\n            html += f\"<th style='padding:8px; border:1px solid #ddd;'>{cell}</th>\"\n        html += \"</tr>\"\n    else:\n        html += \"<tr>\"\n        for cell in cells:\n            html += f\"<td style='padding:8px; border:1px solid #ddd;'>{cell}</td>\"\n        html += \"</tr>\"\n\nhtml += \"</table>\"\n\nreturn [{\"json\": {\"htmlContent\": html}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -176
      ],
      "id": "9f78dea6-536d-4ba7-abb5-eae65b1c670d",
      "name": "Code in Python2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in Python1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in Python2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d790691-9e32-4f78-b1fe-1e5d5696da2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdf6adc003f2125d1bdf964da4ee385e34c8e2134c8ca77b1f7de018c59f21a1"
  },
  "id": "zygAJuLOfjjVr9ej",
  "tags": []
}